<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리고객 목록</title>
    <link rel="stylesheet" th:href="@{/css/Business.css}">
</head>
<body>
<h2 th:text="${jikwonname} + ' ' + ${jikwonjik} + '의 관리고객 목록'">관리고객 목록</h2>
<table border="1">
    <tr>
        <th>고객번호</th>
        <th>고객명</th>
        <th>성별</th>
        <th>나이</th>
        <th>전화</th>
    </tr>

    <tr th:each="cust : ${gogeklist}">
        <td th:text="${cust.gogekno}"></td>
        <td th:text="${cust.gogekname}"></td>
        <td th:text="${cust.gender}"></td>
        <td th:text="${cust.age}"></td>
        <td th:text="${cust.gogektel}"></td>
    </tr>
</table>
<br>
<div>
    인원수 : <span th:text="${gogeklist.size()}"></span>명
</div>
<br>
<a th:href="@{/jikwonlist}">🔙 직원 목록으로</a>
</body>
</html>
