<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>상세보기</title>
  <link rel="stylesheet" href="/css/board.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="center-wrap">

    <div style="margin-bottom: 20px;">
      <a href="/" class="link-home">🏠 메인으로</a>
    </div>

    <h2>🔍 게시글 상세보기</h2>

    <table>
      <tr><th>번호</th><td th:text="${data.num}"></td></tr>
      <tr><th>작성자</th><td th:text="${data.author}"></td></tr>
      <tr><th>제목</th><td th:text="${data.title}"></td></tr>
      <tr><th>내용</th><td th:text="${data.content}"></td></tr>
      <tr><th>작성일</th><td th:text="${#temporals.format(data.bwrite, 'yyyy-MM-dd HH:mm')}"></td></tr>
      <tr><th>조회수</th><td th:text="${data.readcnt}"></td></tr>
    </table>

    <div style="margin-top:20px; display: flex; justify-content: space-between;">
      <a th:href="@{/update(num=${data.num})}">✏ 수정</a>
      <a th:href="@{/delete(num=${data.num})}" class="btn-delete">🗑 삭제</a>
      <a href="/list">📋 목록</a>
    </div>

    <script src="/js/board.js"></script>

  </div>
</body>
</html>
