<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>직원 리스트</title>
</head>
<body>
    <h3>* 직원 정보 리스트 (@JPA 실습 스타일) *</h3>

   
    <form th:action="@{/search}" method="get">
        직급 입력 : <input type="text" name="searchValue">
        <input type="submit" value="확인">
    </form>

    <br>

   
    <table border="1">
        <tr>
            <th>사번</th>
            <th>직원명</th>
            <th>성별</th>
            <th>연봉</th>
            <th>직급</th>
        </tr>
        <tr th:each="j : ${datas}">
            <td th:text="${j.jikwonno}">사번</td>
            <td th:text="${j.jikwonname}">이름</td>
            <td th:text="${j.jikwongen}">성별</td>
            <td th:text="${j.jikwonpay}">연봉</td>
            <td th:text="${j.jikwonjik}">직급</td>
        </tr>
    </table>

   
    <br>
    <div th:if="${count != null}">
        총 인원 수 : <span th:text="${count}"></span> 명
    </div>
</body>
</html>
