<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>๋ก๊ทธ์ธ ์ฑ๊ณต!</h2>
  <p>ํ์ํฉ๋๋ค, <%= sessionId %> ์ธ์ ID๋ฅผ ๊ฐ์ง ์ฌ์ฉ์๋ ๐</p>

  <hr />
  <form action="/logout" method="get">
        <button type="submit">๋ก๊ทธ์์</button>
  </form>
</body>
</html>