<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>고객 담당 직원</title>
<link rel="stylesheet" href="/css/index.css">
</head>
<body class="container">

<h2>고객 담당 직원</h2>

<a th:href="|javascript:history.back()|" class="btn">이전</a>

<table class="table">
    <tr>
        <th>담당 직원명</th> <!-- 테이블 제목 -->
    </tr>
    <th:block th:if="${dlist != null}">
        <tr th:each="info : ${dlist}">
            <td th:text="${info}"></td> <!-- 데이터 출력 -->
        </tr>
    </th:block>
</table>

</body>
</html>
